@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=League+Spartan&family=Montserrat&family=Open+Sans&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --secondary-text-color: #909090;

    --main-color: #332FD0;
    --secondary-color: #9254C8;
    --tertiary-color: #E15FED;
    --quaternary-color: #6EDCD9;

    --gradient-color: linear-gradient(45deg,
            var(--main-color) 0%,
            var(--secondary-color) 10%,
            var(--tertiary-color) 20%,
            var(--quaternary-color) 30%,
            var(--main-color) 40%,
            var(--secondary-color) 50%,
            var(--tertiary-color) 60%,
            var(--quaternary-color) 70%,
            var(--main-color) 80%,
            var(--secondary-color) 90%,
            var(--tertiary-color) 100%);
}

/* Scrollbar customization */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #44444489;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* To prevent FOUC and scroll jump */
[v-cloak] {
    display: none;
}

body {
    @apply overflow-x-hidden;
    font-family: 'lato';
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

.container {
    @apply w-4/5 flex justify-center items-center flex-wrap z-10 max-lg:w-[90%] max-sm:w-[90%];
}

/* Button styles */
.contact-button {
    @apply flex items-center max-sm:w-full;
}

.button-icon {
    @apply relative p-[10px];
}

.button-text {
    transform: translateX(-30px);
    transition: 0.3s ease-in-out;
    @apply relative p-[10px] text-transparent max-sm:hidden;
}

.contact-button:hover .button-text {
    transform: translateX(-10px);
    @apply opacity-100 text-white
}

.contact-button:hover .button-text::before {
    @apply w-full;
}

.button-icon::before,
.button-text::before {
    content: '';
    transition: 0.3s ease-in-out;
    width: 0px;
    @apply absolute h-[2px] bg-[var(--main-color)] bottom-0 left-0;
}

.button-icon::before {
    @apply w-full
}

/* Animations */
/* Bounce towards down */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0) rotate(-45deg);
    }

    40% {
        transform: translate(-50%, -30%) rotate(-45deg);
    }

    60% {
        transform: translate(-50%, -15%) rotate(-45deg);
    }
}

/* Bounce towards negative x */
@keyframes bounce-x {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0%);
    }

    40% {
        transform: translateX(-30%);
    }

    60% {
        transform: translateX(-15%);
    }
}

/* Bounce towards x */
@keyframes bouncex {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0%);
    }

    40% {
        transform: translateX(30%);
    }

    60% {
        transform: translateX(15%);
    }
}

/* For Resume header to change text */
@keyframes change {

    0%,
    25% {
        transform: translate3d(0, 0, 0);
    }

    25%,
    50% {
        transform: translate3d(0, -50%, 0);
    }

    50%,
    75% {
        transform: translate3d(0, -50%, 0);
    }

    75%,
    100% {
        transform: translate3d(0, 0, 0);
    }
}

/* For header on load animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* For dynamic gradient */
@keyframes gradient {

    /* Start at the top-left corner */
    0% {
        background-position: 0% 0%
    }

    /* End at the bottom-right corner */
    100% {
        background-position: 100% 100%
    }
}

/* For logo slider animation */
@keyframes logo-scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}